name: Python tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: cache poetry installation
        uses: actions/cache@v2
        with:
          path: ~/.local
          key: poetry-1.2.1-0
      - uses: snok/install-poetry@v1
        with:
          version: 1.2.1
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: cache project dependencies
        id: cache-project-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: pydeps-${{ hashFiles('**/poetry.lock') }}
      - run: poetry install --no-interaction --no-root
        if: steps.cache-deps.outputs.cache-hit != 'true'
        working-directory: ./pybash
      - run: poetry install --no-interaction
        working-directory: ./pybash
      - run: poetry run mamba tests
        working-directory: ./pybash
